@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a202c; /* Aqui pusimos un gris oscuro similar a bg-gray-800 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

